.noturno{
    width: 100px;
    height: 100px;
}
.diurno{
    width: 100px;
    height: 100px;
}
.matutuino{
    width: 100px;
    height: 100px;
}

.mais{
    width:100px;
    height:100px;
}
.menos{
    height:100px;
    width:100px;
}